.stats {
  display: flex;
  align-items: center;
  height: 244px;
  background-color: rgb(226, 226, 226);
 
}
.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  text-align: center;
  height: 100%;
  border: 1px solid rgb(184, 183, 183);

}

.label {
    display: flex;
    font-size: 20px;
    height: 100%;
    margin: 0 auto;
    align-items: flex-end;
    
}
.quantity {
    display: flex;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 800;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
}
